<!DOCTYPE html>
	<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prototype</title>
	<link rel="stylesheet" href="/css/layui.css"></link>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="/js/layui.js"></script>
	<script>
	function formatDate(t) { 
	if(isNaN(t)){
	return ""; 
	}else{
	var now=new Date(t);
	var year=now.getFullYear();
	var month=now.getMonth()+1; 
	var date=now.getDate(); 
	return year+"-"+month+"-"+date; 
	}
	} 
		//JavaScript代码区域
		layui.use("element", function() {
			var element = layui.element;
			var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		});
		$(document).ready(function() {
	$.ajax({
	type: "GET",
	url: "/state/BankCardTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.cardID+'</td>';
	html+='<td >'+item.cardStatus+'</td>';
	html+='<td >'+item.catalog+'</td>';
	html+='<td >'+item.password+'</td>';
	html+='<td >'+item.balance+'</td>';
	html+='</tr>';
	});
	$("#BankCard_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/UserTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.userID+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.address+'</td>';
	html+='</tr>';
	});
	$("#User_table").html(html);
	}
	});
	});
	</script>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">Prototype AutomatedTellerMachine</div>
				<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item"><a href="/main/index" id="s_function">System Function</a></li>
						<li class="layui-nav-item layui-this"><a href="/main/index2" id="s_state">System State</a></li>
				</ul>
			</div>
		<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
			<li class="layui-this" id="BankCard">BankCard</li>
			<li id="User">User</li>
				</ul>
				<div class="layui-tab-content" style="height: 100px;">
					<div class="layui-tab-item layui-show" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">CardID</td>
								<td style="font-weight: bold">CardStatus</td>
								<td style="font-weight: bold">Catalog</td>
								<td style="font-weight: bold">Password</td>
								<td style="font-weight: bold">Balance</td>
								</tr>
							</thead>
							<tbody id="BankCard_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">UserID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">Address</td>
								</tr>
							</thead>
							<tbody id="User_table">
							</tbody>
						</table>
					</div>
			</div> 
		</div>
	</body>
	</html>
	